/**** Google Font **********/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/**** Global Variables **********/
$primary-font: "Inter", sans-serif;
$primary-white: #fff;
$primary-color: #43c3d1;
$primary-black: #070709;
$primary-red: #ff0000;
$secondary-color: #0284ff;
$tertiary-color: #2f4858;
$transparent: rgba(0, 0, 0, 0);